@font-face {
    font-family: 'BebasNeue Regular';
    src: url('../fontawesome/webfonts/BebasNeueRegular2.ttf');
}
@font-face {
    font-family: 'EBGaramondMedium';
    src: url('../style/fonts/EB_Garamond/EBGaramond-Medium.ttf');
}
@font-face {
    font-family: 'EBGaramondRegular';
    src: url('../style/fonts/EB_Garamond/EBGaramond-Regular.ttf');
}
@font-face {
    font-family: 'CinzelRegular';
    src: url('../style/fonts/Cinzel/Cinzel-Regular.ttf');
}
@font-face {
    font-family: 'PlayfairDisplayRegular';
    src: url('../style/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf');
}
.hotmax {
  image-orientation: from-image;
}
.allAwards {
  cursor: pointer;
}
.colordiv {
  height: 100px;
  background-color: red;
}
.cutthumbs {
  height: 50px;
  position: relative;
  top: -60px;
  margin-left: 11px;
  display: flex;
  flex-wrap: wrap;
}
.thumbqv {
  height: 50px;
  width: 50px;
}
.hoverthumbs {

}
.thumbpicqv {
  height: 100px;
  width: 100px;
}
.thumbpicqv2 {
  height: 65px;
  width: 65px;
}
.picthumbs {
  display: flex;
  flex-wrap: wrap;
}
.tum12thumbs {
  display: flex;
  flex-wrap: wrap;
}
.tum15thumbs {
  display: flex;
  flex-wrap: wrap;
}
.tum20thumbs {
  display: flex;
  flex-wrap: wrap;
}
.tum30thumbs {
  display: flex;
  flex-wrap: wrap;
}
.stkncthumbs {
  display: flex;
  flex-wrap: wrap;
}
.stkeqthumbs {
  display: flex;
  flex-wrap: wrap;
}
.stkgfthumbs {
  display: flex;
  flex-wrap: wrap;
}
.stkrodthumbs {
  display: flex;
  flex-wrap: wrap;
}
.srvncthumbs {
  display: flex;
  flex-wrap: wrap;
}
.srveqthumbs {
  display: flex;
  flex-wrap: wrap;
}
.srvgfthumbs {
  display: flex;
  flex-wrap: wrap;
}
.srvrodthumbs {
  display: flex;
  flex-wrap: wrap;
}
.appncthumbs {
  display: flex;
  flex-wrap: wrap;
}
.appeqthumbs {
  display: flex;
  flex-wrap: wrap;
}
.appgfthumbs {
  display: flex;
  flex-wrap: wrap;
}
.approdthumbs {
  display: flex;
  flex-wrap: wrap;
}
.cosrdthumbs {
  display: flex;
  flex-wrap: wrap;
}
.cossqthumbs {
  display: flex;
  flex-wrap: wrap;
}
.cossetrdthumbs {
  display: flex;
  flex-wrap: wrap;
}
.cossetsqthumbs {
  display: flex;
  flex-wrap: wrap;
}
.thumbpicqv:hover {
  opacity: .3;
  cursor: pointer;
}
.thumbpicqv2:hover {
  opacity: .3;
  cursor: pointer;
}
.cantfindspan {
  text-align: center;
  width: 800px;
}
.thumbqv:hover {
  opacity: .3;
  cursor: pointer;
}
.thumbcaption {
  text-align: center;
  font-size: 30px;
  position: relative;
}
.footer {
  height: 33px;
  background-color: black;
  display: flex;
  justify-content: center;
}
.footermessage {
  margin-top: 5px;
  color: white;
}

#filters {
  display: flex;
  width: 20%;
  flex-direction: column;
  height: fit-content;
  border: 1px solid black;
  padding: 0 10px;
  min-width: 160px;
  min-height: 400px;
}
#filtersitems {
  display: flex;
  flex-wrap: wrap;
}
.grid {
  width: 79%;
  padding-left: 30px;
  margin-top: 140px;

}
.stickygrid {
  position: sticky;

}
.socialicon {
  display: inline-block;
  list-style: none;
  color: white;
}
.erinDiv {
  display: flex;
  border: 1px solid black;
  padding-left: 24px;
  margin-left: -1px;
  height: 75px;
  width: 80%;
  position: absolute;
  left: 20%;
}
.emailfaq {
  font-weight: bold;
}
.cantfind {
  position: relative;
  left: 25%;
  font-family: 'BebasNeue Regular';
  font-size: 35px;
  max-width: 75%;
  display: flex;
  flex-direction: column;
  margin-top: 0;
}
.store-name {
  color: #6b5e16;
  position: absolute;
  margin: 13px;
  font-size: 30px;
  z-index: 2;
  width: 100px;
  line-height: 1;
  text-align: center;
  font-family: cursive;
}
#slideshow {
  width: inherit;
}
.socials > li {
  padding: 2px 3px;
  color: white;
  margin-right: 8px;
}
.socials {
  display: flex;
  letter-spacing: 1px;
	font-family: 'BebasNeue Regular';
	font-size: medium;
  font-weight: bold;
}

.header-top {
	background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-family: 'BebasNeue Regular'
}
.numberofitems {
  font-family: 'BebasNeue Regular';
  font-size: 50px;
  height: 80px;
  top: -60px;
  margin-left: 20px;
}
.topofgrid {
  display: flex;
  justify-content: center;
  position: relative;
  top: -40px;
}

.products-header {
  font-family: 'BebasNeue Regular';
  font-size: 50px;
  height: 80px;
}

.logo {
  width: 100%;
}

.logo-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 160px;
}
@media screen and (max-width: 812px) {
  .logo {
    width: 50%;
    left: 27%;
    position: absolute;
    z-index: 1;
  }
  .logo-pic {
    height: 120px;
  }
  .header-menu{
    display: none;
  }
  .monte{
    display: none;
  }
  .erinDiv {
    display: none;
  }
  .grid {
    margin-top: 50px;
  }
  .phone {
    width: 100%;
    margin-left: 5px;
    display: flex;
    color: white;

  }
  .address {
    width: 100%;
    margin-left: 5px;
    color: white;
  }
  .header-top {
  	background-color: black;
    display: inline-block;
    width: 100%;
    padding-left: 15px;
  }
}
@media screen and (min-width: 813px) {
  .socialicon{
    display: flex;
    margin-left: 20px;
    margin-top: 4px;
  }

  .phone {
    width: fit-content;
    margin-left: 20px;
    color: white;
    margin-top: 3px;
    font-size: 20px;
  }
  .address {
    width: fit-content;
    margin-left: 20px;
    color: white;
    margin-right: 10px;
    color: white;
    margin-top: 3px;
    font-size: 20px;
  }
}


.hidden {
  display: none;
}
.quicksearch {
  position: absolute;
  z-index: 999;
  border: 3px solid gray;
  border-radius: 3px;
  width: 20%;
  height: 40px;
  padding: 4px;
}

@media screen and (min-width:813px) {

	.navbar-header > img {
		width: 50px;
		height:50px;
	}

	#filters-select {
		display: none;
	}


  .dm-item_submenu-mega:hover>ul{
    display:flex!important;
    flex-direction: row;
    position: absolute;
    left: 300px;
  }

  .quicksearch {
    top: 55px;
    left: 30px;
    height: 40px;
    padding: 10px;
  }
  .quoteme {
    top: 55px;
    right: 30px;
    height: 40px;
    padding: 10px;
    color: Gray;
    position: absolute;
    z-index: 999;
    border: 3px solid gray;
    border-radius: 3px;
    width: 20%;
    text-align: center;
  }
  .quoteme > span {
    position: relative;
    top: -4px;
  }
}
@media screen and (max-width:812px) {

	#filters {
		display: none;
	}
  #filtersitems {
    display: block;
  }

  .dropdownn-content {
    top:inherit;
  }
  .dropdownn-content2 {
    top:inherit;
  }
  .quicksearch {
    top: 125px;
    left: 15px;
    width: 110px;
  }
  .ui-group > h3 {
    font-family: 'BebasNeue Regular';
    margin-left: 40px;
    text-align: left;
    font-size: 40px;
  }

}




/* On smaller screens, decrease text size */
@media only screen and (max-width: 400px) {
  .text {font-size: 11px}

  .products-header {
    width: 300px;
    font-size: 30px;
    text-align: center;
    left: -13px;
    height: 33px;
  }
  .numberofitems {
    font-size: 30px;
    text-align: center;
  }

  .topofgrid {
    flex-direction: column;
  }
}

.productsmenu {
  width: 800px;
  display: flex;
  flex-direction: row;
}

.SubmenuMega {
  margin-left: 200px;
}
.final-item {
  margin-left: 15px;
  cursor: pointer;
}

.fblink{
  cursor: pointer;
}
.messystorepic > img{
  height: 840px;
  width: 560px;
  position: absolute;
  left: 40%;
  margin-top: 40px;
}
.aboutuscontainer {
  background-color: #E3783E;
  height: 1000px;
}

#aboutus{
  display: flex;
  font-family: arial;
}
.aboutusinfo {
  background-color: white;
  width: 460px;
  margin: 180px 0 0 100px;
  height: 700px;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.aboutusheader {
  font-family: serif;
  color: #E3783E;
  font-size: 70px;
  padding: 30px 30px 20px 40px;
  line-height: 64px;
}

.aboutusinfo > span {
  padding: 10px 50px;
  font-size: 20px;
  font-family: 'PlayfairDisplayRegular';
}

a[href^=tel] {
    color: inherit;
    text-decoration: none;
}

.noItems {
  font-family: 'BebasNeue Regular';
  font-size: 35px;
  margin: 0 30px;
}

.aboutuspos{
  padding-left: 120px;
}



.type-buttons {
  display: flex;
  flex-direction: column;
}
.type-buttons > button {
  display: none;
}

.pricebuttons {
  display: flex;
  flex-direction: row;
  margin: 32px;
}




.hotproducts {
  height: 500px;
}

.bigwelcome1  {
  font-family: CinzelRegular;
    width: 100%;
    font-size: 60px;
    line-height: 56px;
    display: inline-block;
    position: absolute;
    color: white;
    top: 27%;
    text-align: center;
}

.bigwelcome2  {
  font-family: CinzelRegular;
    width: 100%;
    font-size: 60px;
    line-height: 56px;
    display: inline-block;
    position: absolute;
    color: white;
    top: 40%;
    text-align: center;
}

.smallwelcome {
  font-size: 25px;
  position: absolute;
  top: 54%;
  color: white;
  width: 100%;
  font-family: CinzelRegular;
  text-align: center;
}


/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
}
#slideshowq {
  width: 100%;
}
/* Hide the images by default */
.mySlides {
  display: none;
  overflow: hidden;
  width: inherit;
}
.slee1 {
  height: 431px;
  background-image: url(../image/sharp3.jpg);
  background-size: cover;
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
      background-position: 50% 50%;
}
.slee2 {
  height: 431px;
  background-image: url(../image/sharp2.jpg);
  background-size: cover;
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
      background-position: 50% 50%;
}
.slee3 {
  height: 431px;
  background-image: url(../image/sharp1.jpg);
  background-size: cover;
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
      background-position: 50% 50%;
}
/* .mySlides > img {
  width: 100%;
  background-size: cover;
  height: 431px;
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
} */

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -42px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 3;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fades {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fades {
  from {opacity: .4}
  to {opacity: 1}
}

.customcontainer {
  display: flex;
  width: 100%;
  position: relative;
  margin: auto;
  justify-content: center;
}
.customslide {
  width: 100%;
  height: 431px;
}
.customslide > img {
  height: 100%;
  width: 50%;
}

.customprev, .customnext {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -42px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 3;
}

.customnext {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.customprev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.customprev:hover, .customnext:hover {
  background-color: rgba(0,0,0,0.8);
}
.covidContainer {
  background-color: #E3E3E3;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.covidinfo1 {
  width: 100%;
  text-align: center;
  font-size: 45px;
  margin-top: 37px;
  padding: 20px;
}
.covidinfo2 {
  width: 100%;
  text-align: center;
  font-size: 32px;
  margin-top: 10px;
  padding: 20px;
}

.custominfo {
  background-color: #E3E3E3;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.custominfo1 {
  width: 100%;
  text-align: center;
  font-size: 35px;
  margin-top: 37px;
  padding: 20px;
}
.custominfo2 {
  width: 100%;
  text-align: center;
  font-size: 22px;
  margin-top: 20px;
  padding: 20px;
}
.custominfo3 {
  width: 100%;
  text-align: center;
  font-size: 20px;
  padding: 20px 38px;
}
@media only screen and (max-width: 812px) {
  .allAwards {
    display: none;
  }
  .thumbpicqv {
    height: 20px;
    width: 20px;
  }
  .cutthumbs {
    top: 0px;
  }
  .thumbqv {
    height: 25px;
    width: 25px;
  }
  .thumbcaption {
    top: -5px;
  }
  .cantfind {
    margin-top: 30px;
    max-width: 100%;
    left: 0;
    font-size: 24px;
    padding: 0 10px;
    margin-left: 20px;
  }
  .noItems {
    font-size: 24px;
    margin-top: -56px;
  }
  .footer {
    margin-top: 270px;
  }
  .bigwelcome1 {
    font-size: 40px;
    top: 21%;
    line-height: 40px;
    width: 330px;
  }
  .smallwelcome {
    font-size: 18px;
    max-width: 150px;
    top: 48%;
  }
  .mySlides > img {
    height: 350px;
  }

  .jcarousel-control-next {
    right: 15px;
    background: white;
    color: black;
  }
  .jcarousel-control-prev {
    left: 15px;
    background: white;
    color: black;
  }
  .jcarousel img {
    height: auto;
  }
  .messystorepic > img {
    display: none;
  }
  .aboutusinfo {
    margin: 129px 0 0 74px;
    height: auto;
  }
  .aboutuscontainer {
    height: auto;
    padding-bottom: 80px;
  }
  .customcontainer {
    justify-content: center;
    background-color: #E3E3E3;
    padding-bottom: 80px;
  }
  .customslide {
    margin: 0 auto;
  }
  .customslide > img {
    display: none;
  }
  .customprev {
    left: 0;
  }
  .custominfo{
    padding-left: 77px;
    height: auto;
    width: auto;
  }
  .custominfo1 {
    margin-top: 50px;
    text-align: left;
    padding: 0;
  }
  .custominfo2 {
    text-align: left;
  }
  .custominfo3 {
    text-align: left;
    padding: 20px 80px 0 0;
  }
}



.hotimg {
  cursor: pointer;
}
.sortbycontainer {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: auto;
  margin-right: 20px;
}
.sortbyTitle {
  font-size: 40px;
  font-family: 'BebasNeue Regular';
  font-family: 'BebasNeue Regular';
  margin-right: 10px;
  min-width: 106px;
}
.sortbyAsc {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: -webkit-center;
      padding: 5px;
}
.sortbyDec {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: -webkit-center;
      padding: 5px;
}
.sortUp {
  vertical-align: bottom;
}
.sortDown {
  vertical-align: top;
}
.groupselect {
  display: flex;
}
.sortselect {
  margin-left: 30px;
}
.sortbyOptions {
  display: flex;
  flex-direction: row;
  width: max-content;
}
.sortButton {
  margin-right: 20px;
}
.sortSpace {
  margin: 0 10px
}

.footers {
  display: flex;
  flex-wrap: wrap;
}

.footerCol1 {
  margin-top: 10px;
  padding: 20px;
  width: 25%;
  background-color: black;
  font-family: "Poppins",sans-serif;
  display: flex;
  flex-direction: column;
}


.footerCol1 > span {
  color: White;
  font-size: 14pt;
  font-weight: 400;
}

.footerCol1 > a {
  padding-top: 10px;
  font-size: 12px;
  color: White;
}
.footerCol1 > a:hover {
  cursor: pointer;
}

.footerCol1 > ul > li {
  display: table-row;
}

.footerCol1 > a > i {
  font-size: 16px;
}
