/* Navbar container */
.navbarr {
  overflow: hidden;
  font-family: Arial;
  height: 50px;
  display: flex;
  justify-content: center;
}

/* Links inside the navbar */
.navbarr a {
  float: left;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
  font-size: 20px;
  color: black;
}

/* The dropdown container */
.dropdownn {
  float: left;
  overflow: hidden;
  list-style: none;
}

/* Dropdown button */
.dropdownn .dropbtn {
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  padding: 10px 30px;
  font-size: 20px;
  cursor: pointer;
}

/* Add a red background color to navbar links on hover */
.navbarr a:hover, .dropdownn:hover .dropbtn {
  background-color: #ddd;
}

/* Dropdown content (hidden by default) */
.dropdownn-content {
  display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 3;
left: 8%;
list-style: none;
margin-top: 45px;
}

/* Links inside the dropdown */
.dropdownn-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdownn-content > li {
  font-family: 'Arial';
  font-weight: bold;
}
.dropdownn-content > li > ul {
  list-style: none;
  padding-left: 0;
  font-family: 'Arial';
  font-weight: lighter;
}
.dropdownn-content > li > ul > li>  a {
  padding-top: 0;
}

/* Add a grey background color to dropdown links on hover */
.dropdownn-content a:hover {
  background-color: #ddd;
}
/* The dropdown container */
.dropdownnFAQ {
  float: left;
  overflow: hidden;
  list-style: none;
}

/* Dropdown button */
.dropdownnFAQ .dropbtnFAQ {
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  padding: 10px 30px;
  font-size: 20px;
  cursor: pointer;
}

/* Add a red background color to navbar links on hover */
.navbarr a:hover, .dropdownnFAQ:hover .dropbtnFAQ {
  background-color: #ddd;
}

/* Dropdown content (hidden by default) */
.dropdownn-contentFAQ {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
  list-style: none;
  margin-top: 45px;
  padding-inline-start: 0px;
  flex-direction: column !important;
}

/* Links inside the dropdown */
.dropdownn-contentFAQ a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdownn-contentFAQ > li {
  font-family: 'Arial';
  font-weight: bold;
}
.dropdownn-contentFAQ > li > ul {
  list-style: none;
  padding-left: 0;
  font-family: 'Arial';
  font-weight: lighter;
}
.dropdownn-contentFAQ > li > ul > li>  a {
  padding-top: 0;
}

/* Add a grey background color to dropdown links on hover */
.dropdownn-contentFAQ a:hover {
  background-color: #ddd;
  cursor: pointer;
}

.dropdownnWEB {
  float: left;
  overflow: hidden;
  list-style: none;
}

/* Dropdown button */
.dropdownnWEB .dropbtnWEB {
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  padding: 10px 30px;
  font-size: 20px;
  cursor: pointer;
}

/* Add a red background color to navbar links on hover */
.navbarr a:hover, .dropdownnWEB:hover .dropbtnWEB {
  background-color: #ddd;
}

/* Dropdown content (hidden by default) */
.dropdownn-contentWEB {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
  list-style: none;
  margin-top: 45px;
  padding-inline-start: 0px;
  flex-direction: column !important;
}

/* Links inside the dropdown */
.dropdownn-contentWEB a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdownn-contentWEB > li {
  font-family: 'Arial';
  font-weight: bold;
}

.dropdownn-contentWEB a:hover {
  background-color: #ddd;
  cursor: pointer;
}

.faqTitle {
  text-align: center;
  font-size: 40px;
  margin: 40px;
}

.faqq {
  font-size: 20px;
  font-weight: bold;
  margin: 40px 0 0 100px;
}
.faqa {
  font-size: 20px;
  font-weight: normal;
  margin: 20px 0 0 100px;
}

@media screen and (max-width:812px) {
  .dropdownn-contentFAQ {
    left: 16px;
  }
}
